.page {
	width: 100%;
	height: 100%;
	background-color: blue;
}

h2 {
	color: black;
}

.top-bar {
	position: absolute;
	width: 100%;
	background-color: black;
	top: 0;
	padding: 10px;
	z-index: 1;
}

.poignant {
	color: #42adf4;
}

.body {
	position: absolute;
	background-color: #3b4049;
	height: 100%;
	width: 100%;

}

.left-pillar {
	clear: both;
	position: absolute;
	margin: 10px;
	padding: 5px;
	top: 140px;
	bottom: 140px;
	width: 20%;
	height: 100%;
	background-color: grey;
}

.right-pillar {
	clear: both;
	position: absolute;
	width: 15%;
	height: 100%;
	right: 0px;
	background-color: grey;
}

.footer {
	position: absolute;
	bottom: 0px;
	background-color: #2f5da8;
	width: 100%;
}